/*------Title Text-*/

.contact-title {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

/*------Paragraph Text Styling-*/

.new-players {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  font-size: 1.25rem;
}

/*------iframe Map-*/

.map {
  height: 25rem;
  width: 100%;
  border-style: none;
}

/*------Contact Button-*/

.btn-contact {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  text-transform: uppercase;
  background-color: #005214;
  border-color: #005214;
  text-align: center;
}

/*------Contact Button When Hovering/Clicked-*/

.btn-contact:hover,
.btn-contact:active,
.btn-contact:focus,
.btn-contact:active:focus {
  background-color: #66cd00;
  border-color: #66cd00;
}