/*------Contact Info-*/

.new-players {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  font-size: 20px;
}

/*------iframe Map-*/

.map {
  height: 400px;
  width: 100%;
  border-style: none;
}

/*------contact form-*/

.contact-title {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.contact-subtitle {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

/*------contact button-*/

.btn-contact {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  text-transform: uppercase;
  background-color: #005214;
  border-color: #005214;
  text-align: center;
}

.btn-contact:hover,
.btn-contact:active,
.btn-contact:focus,
.btn-contact:active:focus {
  background-color: #66cd00;
  border-color: #66cd00;
}