/*------Buttons-*/

.read-more {
    text-align: center;
    padding-bottom: 20px;
    font-family: "Roboto Condensed",sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.btn-readmore {
    background-color: #005214;
    border-color: #005214;
}

.btn-readmore:hover,
.btn-readmore:active,
.btn-readmore:focus,
.btn-readmore:active:focus {
    background-color: #005214;
    border-color: #005214;
}

/*------Sponsors-*/

.sponsor-image {
    height: auto;
    width: 160px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}