/*------Button Text Styling-*/

.read-more {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

/*------Read More Button-*/
.btn-readmore {
  background-color: #005214;
  border-color: #005214;
}


/*------Read More Button When Hovering/Clicked-*/
.btn-readmore:hover,
.btn-readmore:active,
.btn-readmore:focus,
.btn-readmore:active:focus {
  background-color: #66cd00;
  border-color: #66cd00;
}

/*------Sponsor Image-*/

.sponsor-image {
  height: auto;
  width: 10rem;
  text-align: center;
}
