/*------Table Font Styling-*/

.font {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/*------Table Row Highlighting-*/
.highlight {
  background-color: #90ee90;
}

.loss {
  background-color: #ffc6c4;
}

.win {
  background-color: #90ee90;
}
