/*------Text over Images taken from https://www.w3schools.com/howto/howto_css_image_text_blocks.asp and adapted for the project-*/

.container {
  text-align: center;
}

.text-block {
  background-color: #000000;
  color: #ffffff;
  width: 15rem;
  margin: auto;
  border-radius: 0.5rem;
}

.name {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.position {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.squad-image {
  border-radius: 0.5rem;
}

/*------Image carousel--*/

.carousel-image {
  width: auto;
  height: 40.625rem;
}

/*------Image carousel Mobile--*/

@media (max-width: 1000px) {
  .carousel-image {
    width: auto;
    height: 18.75rem;
  }
}

@media (max-width: 700px) {
  .carousel-image {
    width: auto;
    height: 15.625rem;
  }
}
